body {
  background-color: beige;
}

form {
  margin: auto;
  width: 40%;
  margin-top: 100px;
  background-color: rgb(42, 158, 120);
  padding: 40px 20px;
}

textarea {
  width: 300px;
  height: 150px;
}

label {
  margin-bottom: 10px;
  display: block;
}

input,
textarea,
select {
  margin-left: 20px;
}

button {
  display: block;
  padding: 12px 16px;
  background-color: beige;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}
